<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interns.tictactoe" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/tictactoe"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity android:name=".MainActivity2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".singleplayer"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".twoplayer"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".scores"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".Demo"
            android:label="@string/title_activity_demo"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>
